{
 "driver": "MomgoDB",
 "params": {"host":"localhost","port":6379},
 "secret": "pornotechfaquelo",
 "noweb": false,
 "site": "fixme-fixme.rhcloud.com",
 "owner": "uglyone dot org",
 "ownerURL": "http://fix.me/",
 "port": 4443,
 "urlPort":443,
 "hostname": "localhost",
 "address": "fixme-fixme.rhcloud.com",
 "nologger": false,
 "serverUser": "pumpio",
 "key": "/etc/pump.key",
 "cert": "/etc/pump.crt",
 "uploaddir": "/srv/http/fixme--fixme.rhcloud.com/uploads",
 "debugClient": false,
 "firehose": "ofirehose.com",
 "noCDN":true,
 "requireEmail": false,
 "disableRegistration": false,
 "canUpload": true,
 "sockjs": true
 }
